body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    background-color: rgb(243, 243, 182);
}

a {
    color: darkorange;
    text-decoration: none;
   }

a:hover{
    text-decoration: underline;
    /* font-weight: bold;
    font-size: 18px; */
}
a:visited{
    color: blue;

}

li, h1{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}

.underline{ text-decoration: underline;}

.bold{font-weight: bold;}

.justify{text-align: justify;} 

.homebg{
    background-image: url('../Images/DEFBCK.jpg');
    background-position: top left;
    /* background-repeat: no-repeat; */

}

.box1{
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    /* border: 3px solid red ; */

}

/* We walked through the different ways to use CSS to style our website */

.box2{
    padding: 5px;

}

.box3{
    margin: 50px;

}
